@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@700&display=swap');

/* Index page styling */

#index-body {
  margin: 0;
  background-color: #37003A;
  background-image: url(../images/PL_Teams_2021.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

#index-heading {
  font-family: 'Rosario', sans-serif;
  text-align: center;
  color: #ffffff
}

#index-heading a{
  text-decoration: none;
  color: #ffffff
}

#index-heading a:hover{
  text-decoration: none;
  text-transform: uppercase;
}

#index-buttons {
  justify-content: center;
  display: flex;
  margin: 0.625rem;
}
  
#start-game, #how-to-play{
  position:absolute;
  bottom: 5%;
  color: black;
  padding: 8px 0 8px 0;
  background: #FE2881;
  
  border: 1px solid #107ff7;
  border-radius: 20px;

  text-decoration: none;
  font-size: 1.25rem;
  font-family: 'Rosario', sans-serif;
  text-align: center;
  width: 150px;
}
  
#start-game{
  text-decoration: none;
  right:35%;
  }

#how-to-play {
  left:40%;
}

#start-game:hover, #how-to-play:hover {
  color: #107ff7;
}

/* Index Modal styling */

.modal-content {
  text-align: left;
  color: #ffffff;
  background: linear-gradient(40deg, #37003A, #FE2881) ; 
  border: 1px solid #107ff7;}

.modal-title {
  text-align: center !important;
  font-family: 'Rosario', sans-serif;
  color: gold;
}

.modal-btn {
  color: white;
  font-family: 'Rosario', sans-serif;
  font-size: 2em;
}

#game-start{
  text-align: center !important;
}

.modal-btn:hover {
  color: gold;
  text-decoration: none;
  text-transform: uppercase;
}


/* Game page styling */
#game-body {
  margin: 0;
  background: linear-gradient(45deg, #37003A, 75%, #FE2881) ; 
  min-height: 100vh;
}

#home-reset {
  width:100%;
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}
.home-button {
  margin-right:2.5%;
}
.reset-button {
  margin-left:2.5%;
}

.home-button a, .reset-button a{
  text-decoration: none;
  font-family: 'Rosario', sans-serif;
  font-size: 1.25em;
  color: #107ff7;
  text-align: center;
}

#game-data {
  width:100%;
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}

.data-flip, #data-time {
  position:inline;
  color: black;
  padding: 7px 0 7px 0;
  background: #FE2881;
  
  border: 1px solid #107ff7;
  border-radius: 20px;

  text-decoration: none;
  font-size: 1.25rem;
  font-family: 'Rosario', sans-serif;
  text-align: center;
  
}

.data-flip {
  margin-right: 5%;
  width: 130px;
}

#data-time {
  margin-left: 5%;
  width: 180px;
}

/* Game - Card grid*/

.game-grid{
  width:100%;
  display: flex;
  justify-content:center;
}

.grid{
  display:flex;
  flex-wrap: wrap;
  height:400px;
  width:500px;
}

/* Congrats Modal styling */

.reset-btn, .home-btn {
  text-decoration: none !important;
}

.reset-btn:hover, .home-btn:hover {
  color: gold;

}